<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nikhil.hosphonew">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/hosphoicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DoctorFiles.DoctorSearchHospitalActivity"
            android:label="@string/title_activity_doctor_search_hospital"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nikhil.hosphonew.LoginActivity" />
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CommonFiles.AddFile" />
        <activity
            android:name=".DoctorFiles.DoctorSearchPatientActivity"
            android:label="@string/title_activity_doctor_search_patient"
            android:parentActivityName=".DoctorFiles.DoctorSearchHospitalActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DoctorFiles.DoctorSearchHospitalActivity" />
        </activity>
        <activity
            android:name=".CommonFiles.SelectorActivity"
            android:label="@string/title_activity_selector_for_doctor"
            android:parentActivityName=".DoctorFiles.DoctorSearchPatientActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DoctorFiles.DoctorSearchPatientActivity" />
        </activity>
        <activity
            android:name=".CommonFiles.ReportActivity"
            android:label="@string/title_activity_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CommonFiles.PrescriptionActivity"
            android:label="@string/title_activity_prescription"
            android:parentActivityName=".DoctorFiles.DoctorSearchPatientActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DoctorFiles.DoctorSearchPatientActivity" />
        </activity>
        <activity
            android:name=".PatientFiles.PatientSearchHospitalActivity"
            android:label="@string/title_activity_patient_search_hospital"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nikhil.hosphonew.LoginActivity" />
        </activity>
        <activity
            android:name=".PatientFiles.PatientSearchDoctorActivity"
            android:label="@string/title_activity_patient_search_doctor"
            android:parentActivityName=".PatientFiles.PatientSearchHospitalActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PatientFiles.PatientSearchHospitalActivity" />
        </activity>
        <activity
            android:name=".CommonFiles.AppointmentActivity"
            android:label="@string/title_activity_appointment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".uploadimagecloud.SelectImageActivity"
            android:label="@string/title_activity_select_image"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nikhil.hosphonew.LoginActivity" />
        </activity>
    </application>

</manifest>